*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: var(--color-day);
    color: #121212;
}

:root{
    --fondoDark:#121212;
    --color-day:#f4f4f4;  
    --title: #ffe0db;
    --RosetWhite: #efb2a8;
    --colorRosetW: #cc7366 ;
    --colorRosetD:#802e2e;
    --fondoRecuadro:#aa8e7db2;
    --tituloColor: #4c3830;
    --radio-border:25px;
    --minImag:50%;
}
 /* ================== generales ================== */
button{
    width: 30%;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    padding: 2%;
    transition: all 0.3s ease;
}

button:hover{
    background-color: var(--colorRosetD);
    color: wheat;
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(255, 200, 200, 0.3);
    transform: translateY(-5px);}


/*============= cambios============  */

nav .botonCamb{ 
    width: 3rem;
    height: 3rem;
     background-color: #121212;
     background-image: url(img-portafolio/mediamoon.png);
     background-size: 80%;
    background-position-y: 50%;
     background-position-x: 50%;
     background-repeat: no-repeat;   
     transform: scale(1.1);
}

.botonCamb:hover{   
    transition: all 0.7s ease;
    background-color: #ffe0db;
    background-image: url(img-portafolio/sun.png);
    background-size: contain;
    background-repeat: no-repeat;
}

 /* ================== main ================== */
 main{
    width: 100vw;
    background-image: url(img-portafolio/imagen-fondo-bordo.png);
    background-size: cover;
 }

 header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(30 30 30 / 20%);
    backdrop-filter:blur(10px);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.266);

 }

.logo-ig{
    width: 5rem; 
    margin: 0 5%;
    filter: invert(1);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 0 5%;
    color: #121212;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 2rem;
}

nav a:hover{
    color:rgb(247, 224, 195);
}

 /* ======== perfil ======== */

.imagenBooks{
    width: 35%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.101);
    backdrop-filter:blur(5px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.391);
    transition: all 0.7s ease;
    /* filter: hue-rotate(180deg) saturate(1.2); */
}

.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    position: relative;
    margin: 8% 0;
    
}
.title{
    padding: 5%;
    border-radius: 20%;
box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.563);    background-color:rgba(250, 235, 215, 0.642);
    backdrop-filter:blur(5px);
    text-align: center;
}

.title h2{
    font-size: 4rem;
}
.title h1{
    font-size: clamp(2rem, 6vw, 7rem);
}
.title p{
    font-size: 4rem;
}

.triangulo, .mintriangulo{
    position: absolute;
box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.563);    background-color:rgba(250, 235, 215, 0.642);
    backdrop-filter:blur(5px);
    border-radius: 50%;
}

.triangulo{
    width: 70px;
    height: 70px;
    top: 410px;
    right: 1098px;
}
.mintriangulo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 400px;
    right: 1210px;

}


.botones{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;}


 /* ================== separadores ================== */
.separador{
    width: 100vw;
    padding: 1%;
}
.line{
    width: 10%;
    height: 1rem;
    border-radius: 25px;
    background-color: #802e2e;
    margin: 0 auto;

    animation-name: lineasepar;
    animation-direction: normal;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;

}

@keyframes lineasepar {
  0% {
      width: 10%;  }
  50% {
      width: 80%;
  }
    100% {
      width: 10%;
  }
}

 /* ================== proyectos ================== */

.proyect-post{
    height: 90vh;
}
.title-paraffo{
    width: 100vw;
    text-align: center;
}
.title-paraffo h1{
    font-size: 4rem;
    margin: 50px 0;
}
.title-paraffo p, a{
    font-size: 2.5rem;
    margin: 0;
}
.title-paraffo a{
    text-decoration: none;
    color: var(--colorRosetD);
}


 /* ======== figure ======== */
 .galeria{
    display: flex;
    align-items: center;
}

.proyect-post{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.box{
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;

}

.box:hover {
  transform: translateY(-10px);
}


.box-title-wrapper{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.box-title{
    font-size: 2rem;
}
.box-icon{
    width:7%;
    background-color: #802e2e;
    border-radius: 50%;
}

.post-img{
    width: 95%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.detalles{
    width: 95%;
    padding: 2%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.detalles p{
    font-size: 1.7rem;
}
.boton-git{
    width: 23%;
    padding: 1%;
    background-color:var(--colorRosetD);
    color: white;
    border: none;
    box-shadow: 0px 0px 4px rgba(63, 63, 63, 0.266);
}

.boton-git a{
    color:rgb(254, 247, 232);
    text-decoration: none;
}
.boton-git:hover{
    color: white;
    transform: scale(1.3);
}


 /* ======== lenguajes ======== */

.lenguajes{
    width: 100vw;
}
.info-me{
    width: 100vw;
    text-align: center;
    padding: 0 2%;
}
.info-page-proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-lap{
    width:25%;
    filter: contrast(0.6);
}

.info-me p{
    font-size: clamp(2rem, 2vw, 2.5rem);
    padding: 2% 0%;
    margin: 0;
}

/* ====== logoscirculos ====== */
.flex-circ{
    width: 100vw;
    display: flex;
    gap: 10%;
    justify-content: center;
    margin: 100px 0px;
}
.circulos{
    width: 6%;
    color: #f4f4f4;
    background-color: #802e2e;
    padding: 2% 0px;
    font-size: clamp(2rem, 2vw, 3rem);
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px  rgba(38, 38, 38, 0.611);
    transition: all 0.3s ease;
}
.circulos:hover{
    transform: scale(1.2);
    
}
 /* ================== contactos ================== */

.quest{
    width: 100vw;
    background-image:url(img-portafolio/cartas.png), url(img-portafolio/fondo5.png);
    background-size: cover;
    padding: 2%;
}

.questionario{
    padding: 2%;
    width: 50vw;
    text-align: center;
    color: wheat;
    background-color: rgba(74, 1, 1, 0.48);
    backdrop-filter:blur(40px);
    border-radius:50px;
    transition: all 0.6s ease;
}
.questionario:hover{
    box-shadow: 0px 0px 30px 27px #e001012c, 0px 0px 20px rgba(255, 0, 0, 0.34), 0px 0px 50px pink;
    background-color: #8a010142;

}
.questionario h3{
    font-size: 3rem;
}

.questionario p{
    font-size: clamp(2rem, 2vw, 2rem);
}
.questionario input{
    padding: 3% 7%;
    font-size: 1.5rem;
    margin: 25px 0px;
    border-radius: 25px;


}
.questionario textarea{
    font-size: 1.5rem;
    padding: 3%;
    border-radius: 25px;
}



 /* ================== footer ================== */

footer{
    width: 100vw;
    background-color: #121212;
    padding: 0.5%;
}
footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foot a{
    color: #f4f4f4;
    font-size: 1.5rem;
    text-decoration: none;
}




/* ================== laptop ================== */

@media (max-width: 1440px) {
  /* main */
.logo-ig{width: 3rem;}
.title h1{font-size: clamp(2rem, 4vw, 7rem);}
.title h2, .title p{font-size: 2rem;}
nav a, button{font-size: 1.5rem;}
.info .triangulo, .info .mintriangulo{display: none;}
  /* proyecto */
.title-paraffo h1 {font-size: 3rem;}
.box-icon {width: 10%;}
.title-paraffo p, a {font-size: 2rem;}
.title-paraffo {margin-bottom: 10px;}
.galeria{margin-bottom:175px;}
  /* info */
.info-me p{  margin-top: 80px;}
.circulos{width: 7%; padding: 2% 0px;}
.flex-circ{margin: 70px 0px;}
/* contacto */
.questionario h3 {margin: 10px 0px;}
.questionario input {margin: 8px 0px;width: 77%;padding: 2.5% 17px;}
.recuadro-text{width: 80%; height: 150px;}
}
 /* ================== phone ================== */

@media (max-width: 800px) {
    main{background-image: url(img-portafolio/cara-cir.png),url(img-portafolio/imagen-fondo-bordo.png);
    background-size: cover;
    background-repeat: no-repeat;}
    .imagenBooks{display: none;}
    nav a{display: none;}
    .galeria{flex-direction: column;margin: 10px;}
    .proyect-post {height: 75vh;}
    .detalles p {display: none;}
    .info-me p{font-size: 1.2rem;}
    .img-lap {width: 60%;}
    .boton-git a{font-size: 1.5rem;}
    .circulos {width: 15%;font-size: larger;padding: 2% 0px;}
    .questionario{margin: 0 auto; padding: 1%;width: 80vw;}
    .questionario p {font-size: 1.5rem;margin: 8px;}
    .botones .more, .botones .linkedin{font-size: 1.2rem;}
}

 /* ================== modo oscuro ================== */


 .body-dark{
    background-color: var(--fondoDark);
    color: var(--color-day);
 }

 .mod-dark{
    color: rgb(185, 76, 94);
    text-shadow: 0px 1px 1px red, 2px 4px 25px #b20101;
 }

 .logoImgdark {
  filter: invert(1);
}

 .botonSun{
    background-color:rgb(179, 179, 179);
    background-image: url(img-portafolio/sun.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
 
 }

.cirDark{
    background-color: #802e2e;
    border-radius: 25px;
}

.linksNewColor{
    color: rgb(169, 2, 2);
}
