*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(18, 18, 18);
    color: white;
}

:root{
    --fondomain:#3a0a26;
    --color-boton:#620f3f;
    --colorTitle:#5e113e;
    --color-day:#f4f4f4;  
    --title: #ffe0db;
    --fondo-boton:#c0b388;
    --tituloColor: #4c3830;
    --radio-border:25px;
    --minImag:50%;
}
 /* ================== generales ================== */
button{
    width: 30%;
    background-color: var(--color-boton);
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    padding: 2%;
    transition: all 0.3s ease;
}

button:hover,
a button:hover {
    background-color: #ff66d0; ;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
    transform: scale(1.2);
}



 /* ================== main ================== */
 main{
    width: 100vw;
    background-color:#3a0a26;
    background-blend-mode: saturation;
    background-image:url(img-portafolio/biblioteca.png);
    background-blend-mode: saturation;
    background-repeat:no-repeat;
    background-size: contain;
    background-position-x: 100%;
 }

header{
    width: 100vw;
    background-color:#171717c9;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: ease-in-out 1s;

}
header .logo-ig{
    width: 3%;
    filter: invert(1);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 0 5%;
}
nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 40px;
}
nav a{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(229, 229, 229);
    font-size: x-large;
}

nav a:hover{
    color:rgb(71, 104, 165);
}


nav .botonCamb{ 
    width: 3rem;
    height: 3rem;
     background-color: #121212;
     background-image: url(img-portafolio/sun.png);
     background-size: 80%;
    background-position-y: 50%;
     background-position-x: 50%;
     background-repeat: no-repeat;

     transform: scale(1.1);
     cursor: pointer;
    transition: ease-in-out 1s;

}

 /* ======== perfil ======== */

.imagenPerfile{
    width: 35%;
    margin-right: 8%;
    filter: contrast(0.9);
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.info{
    position: relative;
}

.title{
    padding: 7%;
    width: 50wv;
    text-align: center;
    margin: 9% auto;
    border-radius: 30px;
    cursor: pointer;
    border:2px solid #d13da5b7;
    transition: ease-in-out 1s;
}

.title h2, .title {
    font-size: 1.5rem;
    font-weight: 100;
}

.title h1{
    font-size: 5rem;
}

.title h1, .title p, .title h2 {
    color: pink;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
    transition: ease-in-out 1s;

}

.title:hover{
    background-color:#d13da5b7;
    text-shadow: none;
    box-shadow:0 0 1em #ff66d0, 0 0 4em #ffb4da;
}

.title:hover h1,
.title:hover h2,
.title:hover p {
    color: black;
    text-shadow: 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
}

.botones{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.enlace{
    color: #f4f4f4;
    width: 100%;
    padding: 13px;
    font-size: x-large;
    box-shadow: 0px 0px 2px 0px #464646bf;
}

.inverso:hover{
    background-color:black ; ;
    color:#ff66d0;
    transform: scale(1.05);
    box-shadow: 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
    transform: scale(1.2);

}
 /* ======== lenguajes ======== */

.lenguajes{
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url(../img-portafolio/bookANDcaffe.png);
}

.info-page-proyect{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    text-align: center;
    font-size: x-large;
}

.flex-circ{
    width: 50%;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.circulos{
    color: white;
    background-color: var(--color-boton);
    padding: 2% 2%;
    margin: 3%;
    font-size: 1.2rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px  rgba(38, 38, 38, 0.193);
    transition: all 0.3s ease;
}
.circulos:hover{
    background-color: #ff66d0; ;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
    transform: scale(1.2);
}


 /* ================== separadores ================== */
.separador{
    width: 100vw;
    padding: 1%;
}
.line{
    width: 10%;
    height: 15px;
    border-radius: 25px;
    background-color: var(--color-boton);
    margin: 0 auto;

    animation-name: lineasepar;
    animation-direction: normal;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;

}

@keyframes lineasepar {
  0% {
      width: 10%;  }
  50% {
      width: 80%;
  }
    100% {
      width: 10%;
  }
}

 /* ================== proyectos ================== */

.title-paraffo{
    width: 100vw;
    text-align: center;
    margin-bottom: 5%;
}
.title-paraffo h1{
    font-size: 4rem;
    margin: 50px 0;
}
.title-paraffo p, a{
    font-size: x-large;
    margin:0;
}
.title-paraffo a{
    text-decoration: none;
    color: var(--colorRosetD);
}

/* ==== organizacion ==== */
.objetos{
    display:flex;
}
.pantallazo{
    width: 100vw;
    display: flex;
    padding: 3%;
}
.pantallazo h2{
    text-align: center;
}
.pantallazo figure{
    border-radius: 15px;
    outline: 1px solid #000;
    box-shadow: 0px 0px 10px 0px #80808027;
    padding: 2%;
    transition: all 0.3s ease;
    text-align: center;
}
.pantallazo figure:hover{
    transform: scale(1.03);
}

 /* ======== figure ======== */
 .galeria{
    display: flex;
    align-items: center;
    margin: 6% 0;
}

.proyect-post{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.box{
    background-color: #2c2c2c;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.box:hover {
  transform: scale(1.09);
  background-color: #620f3f;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}


.box-title-wrapper{
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}

.box-title{
    font-size: 2rem;
}

.post-img{
    width: 95%;
    margin: 0;
}
.tercero{
    filter: brightness(0);
}
.detalles{
    width: 95%;
    padding: 2%;
    margin: 0;
    text-align: center;
}
.miniText{
    font-size: 1.3rem;
  line-height: 1.2;
}


 /* ================== contactos ================== */

.quest{
    width: 100vw;
    background-color: #3a0a26;
    background-image:url(img-portafolio/cartas.png);
    background-blend-mode: overlay;
    background-size: cover;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.into {
  background-color: rgba(240, 248, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 2rem;
  max-width: 500px;
  width: 100%;
}
.Marco {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}

.Marco h2{
    font-size: 3rem;
}
/* ===== rellenos ====== */
label{
    font-size: 1.2rem;
}
input{
    font-size: 1rem;
}


.belt,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  margin:10px 0px;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  transition: all 0.3s ease;
}

.belt:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 6px rgba(74, 74, 74, 0.241);
}

.belt:hover,
select:hover,
textarea:hover {
  transform: scale(1.02);
}

textarea {
  resize: vertical;
}
.botonContact{
    text-align: center;
    color: white;
}
.inverso{color: white;}
.inverso:hover{
    background-color:black ; ;
    color:#ff66d0;
    transform: scale(1.05);
    box-shadow: 0 0 1em #ffb4da, 0 0 0.2em #ff66d0;
    transform: scale(1.2);

}

/* ===== footer ====== */


 /* ================== footer ================== */

footer{
    width: 100vw;
    background-color: #121212;
    padding: 0.5%;
}
footer .foot {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foot a{
    color: #f4f4f4;
    font-size: 1.5rem;
    text-decoration: none;
}




/* ================== laptop ================== */

@media (max-width: 1440px) {
  /* main */
.logo-ig{width: 3rem;}
.title h1{font-size: clamp(2rem, 4vw, 7rem);}
.title h2, .title p{font-size: 2rem;}
nav a, button{font-size: 1.5rem;}
.info .triangulo, .info .mintriangulo{display: none;}
  /* proyecto */
.title-paraffo h1 {font-size: 3rem;}
.box-icon {width: 10%;}
.title-paraffo p, a {font-size: x-large;}
.title-paraffo {margin-bottom: 10px;}
.galeria{margin-bottom:95px;}
  /* info */
.info-me p{  margin-top: 80px;}
.flex-circ{margin: 70px 0px;width: 90%;}
/* contacto */
.questionario h3 {margin: 10px 0px;}
.questionario input {margin: 8px 0px;width: 77%;padding: 2.5% 17px;}
.recuadro-text{width: 80%; height: 150px;}
}
 /* ================== phone ================== */

@media (max-width: 768px) {
    main{display: flex;flex-direction: column;align-items: center;}
    .imagenPerfile{display: none;}
    nav a{display: none;}
    .info{padding: 1rem;}
    /* galery */
    .galeria {flex-direction: column; align-items: center;}
    .box-icon {width: 7%;}
    .detalles p {display: none;}
    /* infomacion */
      .title h1 { font-size: 3rem; }
    .title h2, .title p { font-size: 1.2rem; }
    .info-me p{font-size: 1.2rem;}
    .img-lap {width: 60%;}
    .boton-git a{font-size: 1.5rem;}
    .circulos {padding: 2%;}
    /* questionario */
    .questionario{margin: 0 auto; padding: 1%;width: 80vw;}
    .separador{margin-top: 65px;}
    .questionario p {font-size: 1.5rem;margin: 8px;}
    .botones .more, .botones .linkedin{font-size: 1.2rem;}
}

 /* ================== modo oscuro ================== */


.body-day{
    background-color: rgb(244, 244, 244);
    color: rgb(19, 19, 19);
    transition: ease-in-out 1s;

}
.body-day header a{
    color: #000;
}

.body-day button, .body-day .circulos {
        background-color: #6f83e5;


}
.body-day .imgMain{
    background-color: #6f83e5;
    background-blend-mode: saturation;
}
.body-day .contact-light{
    background-blend-mode: lighten;
    background-color: #97a8f9;
}
.body-day .headerWhite{
    background-color: rgba(187, 187, 187, 0.64);
    box-shadow: 0px 2px 8px 0px #2d2d234f;
}

.body-day .title{
    background-color: rgba(51, 51, 51, 0.64);
    border: #000 1px solid;
}

.body-day .title h1, .body-day .title p, .body-day .title h2 {
    color: rgb(244, 244, 244);
    text-shadow: none;
    transition: ease-in-out 1s;

}

.body-day .title:hover{
    background-color:none;
    text-shadow: none;
    box-shadow:none;
}

.body-day .logo-ig{
    filter: none;
}

.body-day .botonMoon{
    background-image:url(img-portafolio/mediamoon.png);
    background-size: 80%;
    background-color: #171717f8;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
 
}
